<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
                        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd ">

	
	<!-- 基于注解的方式来配置springmvc:
		1.不用配置HandlerMapping了
		2.不用配置Controller的bean了
		_________________________
		需要配置：
		1.配置组件扫描
		2.配置mvc注解扫描
		3.配置试图解析器(ViewResovler)
	 -->
	 <!-- 配置组件扫描 -->
	 <context:component-scan base-package="controller"></context:component-scan>
	 
	 <!--配置mvc注解扫描  -->
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!--配置试图解析器(ViewResovler)  -->
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	
	<!--配置拦截器  -->
	<!-- 
		如果有多个拦截器，会按照配置的先后顺序来执行。
	 -->
	 <mvc:interceptors>
	 	<mvc:interceptor>
	 		<!-- 
	 			<mvc:mapping path="/*"/> 
	 			注意：/**表示拦截所有的请求，
	 				 /*仅表示拦截该层的所有请求
	 			-->
	 		<mvc:mapping path="/**"/>
	 		<bean  class="interceptor.SomeInterceptor"/>
	 	</mvc:interceptor>
	 </mvc:interceptors>
	 <!--配置session验证登陆的拦截器-->
	 <mvc:interceptors>
	 	<mvc:interceptor>
	 		<mvc:mapping path="/**"/>
	 		
	 		<!--要排除的拦截的请求路径  -->
	 		<mvc:exclude-mapping path="/toLogin.do"/>
	 		<mvc:exclude-mapping path="/login.do"/>
	 		<bean class="interceptor.SessionInterceptor" />
	 	</mvc:interceptor>
	 </mvc:interceptors>
	 
</beans>
